//미디어쿼리

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: ($mobile + 1)) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

//풀페이지

html, body {
  margin: 0;
  overflow: hidden;
}

#wrap {
  height: 100vh;
  transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1);
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 130%;
  height: 100vh;
  background: #f5f0e8;
  transform: translateX(100%);
  z-index: 10;
  pointer-events: none;
  // clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%); // 사선 모양
  clip-path: polygon(
  // 왼쪽 계단 (위→아래, 점점 왼쪽으로)
  120px 0,
  120px 25%,
  120px 25%,
  120px 50%,
  0 50%,
  0 100%,

  // 하단
  100% 100%,

  // 오른쪽 계단 (아래→위, 점점 왼쪽으로)
  100% 50%,
  calc(100% - 120px) 50%,
  calc(100% - 120px) 25%,
  calc(100% - 120px) 25%,
  calc(100% - 120px) 0
);
}

// 폰트

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// 색상

