@use 'common' as *;

.section {
  background-color: $navy;
  color: $beige;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  &:nth-child(1) {
    background-image: url(../img/desktop01.svg);
    background-size: cover;
    @include tablet {
      background-image: url(../img/tablet01.svg);
      background-size: cover;
    }
    @include mobile {
      background-image: url(../img/mobile01.svg);
      background-size: cover;
    }
  }
  &:nth-child(2), &:nth-child(3) {
    background-image: url(../img/desktop02.svg);
    background-size: cover;
    @include mobile {
      background-image: url(../img/mobile02.svg);
      background-size: cover;
    }
  }
  &:nth-child(4) {
    background-color: $beige;
    color: $navy;
  }
}

.container {
  width: 100%;
  margin: 0 clamp(40px, 11vw, 300px);
}

.section {
  &:nth-child(2),
  &:nth-child(3) {
    .container {
      margin: 0 clamp(40px, 11vw, 300px);
      padding: clamp(20px, 3vh, 50px) clamp(10px, 3vw, 50px);
    }
  }
}

.container p {
  line-height: 1.5;
  display: inline;
  color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient($beige2, $beige2);
  transition: background-size 0.6s ease-in-out, color 0.6s ease-in-out;
}

.container.animate p {
  color: $beige2;
  background-size: 0% 100%;
}