@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
html, body {
  overflow: hidden;
}

#wrap {
  display: flex;
  flex-direction: row;
  width: 400vw;
  height: 100vh;
  transition: transform 1.2s linear;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.galmuri9 {
  font-family: Galmuri9, sans-serif;
  font-style: normal;
}

* {
  cursor: url("../img/cursor-default.svg") 0 0, auto;
}

a, button, .swiper-button-prev, .swiper-button-next, .swiper-pagination, .swiper-pagination-bullet, .swiper-pagination-bullet-active {
  cursor: url("../img/cursor-pointer.svg") 0 0, pointer;
}

p, span, input, textarea {
  cursor: url("../img/cursor-text.svg") 0 0, text;
}

.panel {
  position: fixed;
  top: 0;
  width: 150%;
  height: 100%;
  background: #E8A87C;
  transform: translateX(100%);
  z-index: 2;
  pointer-events: none;
  clip-path: polygon(20px 0, 20px 20px, 0 20px, 0 40px, 20px 40px, 20px 60px, 0 60px, 0 80px, 20px 80px, 20px 100px, 0 100px, 0 120px, 20px 120px, 20px 140px, 0 140px, 0 160px, 20px 160px, 20px 180px, 0 180px, 0 200px, 20px 200px, 20px 220px, 0 220px, 0 240px, 20px 240px, 20px 260px, 0 260px, 0 280px, 20px 280px, 20px 300px, 0 300px, 0 320px, 20px 320px, 20px 340px, 0 340px, 0 360px, 20px 360px, 20px 380px, 0 380px, 0 400px, 20px 400px, 20px 420px, 0 420px, 0 440px, 20px 440px, 20px 460px, 0 460px, 0 480px, 20px 480px, 20px 500px, 0 500px, 0 520px, 20px 520px, 20px 540px, 0 540px, 0 560px, 20px 560px, 20px 580px, 0 580px, 0 600px, 20px 600px, 20px 620px, 0 620px, 0 640px, 20px 640px, 20px 660px, 0 660px, 0 680px, 20px 680px, 20px 700px, 0 700px, 0 720px, 20px 720px, 20px 740px, 0 740px, 0 760px, 20px 760px, 20px 780px, 0 780px, 0 800px, 20px 800px, 20px 820px, 0 820px, 0 840px, 20px 840px, 20px 860px, 0 860px, 0 880px, 20px 880px, 20px 900px, 0 900px, 0 920px, 20px 920px, 20px 940px, 0 940px, 0 960px, 20px 960px, 20px 980px, 0 980px, 0 1000px, 20px 1000px, 20px 1020px, 0 1020px, 0 1040px, 20px 1040px, 20px 1060px, 0 1060px, 0 1080px, 100% 1080px, 100% 1060px, calc(100% - 20px) 1060px, calc(100% - 20px) 1040px, 100% 1040px, 100% 1020px, calc(100% - 20px) 1020px, calc(100% - 20px) 1000px, 100% 1000px, 100% 980px, calc(100% - 20px) 980px, calc(100% - 20px) 960px, 100% 960px, 100% 940px, calc(100% - 20px) 940px, calc(100% - 20px) 920px, 100% 920px, 100% 900px, calc(100% - 20px) 900px, calc(100% - 20px) 880px, 100% 880px, 100% 860px, calc(100% - 20px) 860px, calc(100% - 20px) 840px, 100% 840px, 100% 820px, calc(100% - 20px) 820px, calc(100% - 20px) 800px, 100% 800px, 100% 780px, calc(100% - 20px) 780px, calc(100% - 20px) 760px, 100% 760px, 100% 740px, calc(100% - 20px) 740px, calc(100% - 20px) 720px, 100% 720px, 100% 700px, calc(100% - 20px) 700px, calc(100% - 20px) 680px, 100% 680px, 100% 660px, calc(100% - 20px) 660px, calc(100% - 20px) 640px, 100% 640px, 100% 620px, calc(100% - 20px) 620px, calc(100% - 20px) 600px, 100% 600px, 100% 580px, calc(100% - 20px) 580px, calc(100% - 20px) 560px, 100% 560px, 100% 540px, calc(100% - 20px) 540px, calc(100% - 20px) 520px, 100% 520px, 100% 500px, calc(100% - 20px) 500px, calc(100% - 20px) 480px, 100% 480px, 100% 460px, calc(100% - 20px) 460px, calc(100% - 20px) 440px, 100% 440px, 100% 420px, calc(100% - 20px) 420px, calc(100% - 20px) 400px, 100% 400px, 100% 380px, calc(100% - 20px) 380px, calc(100% - 20px) 360px, 100% 360px, 100% 340px, calc(100% - 20px) 340px, calc(100% - 20px) 320px, 100% 320px, 100% 300px, calc(100% - 20px) 300px, calc(100% - 20px) 280px, 100% 280px, 100% 260px, calc(100% - 20px) 260px, calc(100% - 20px) 240px, 100% 240px, 100% 220px, calc(100% - 20px) 220px, calc(100% - 20px) 200px, 100% 200px, 100% 180px, calc(100% - 20px) 180px, calc(100% - 20px) 160px, 100% 160px, 100% 140px, calc(100% - 20px) 140px, calc(100% - 20px) 120px, 100% 120px, 100% 100px, calc(100% - 20px) 100px, calc(100% - 20px) 80px, 100% 80px, 100% 60px, calc(100% - 20px) 60px, calc(100% - 20px) 40px, 100% 40px, 100% 20px, calc(100% - 20px) 20px, calc(100% - 20px) 0, 100% 0);
}
@media (max-width: 767px) {
  .panel {
    width: 150%;
  }
}

header > div {
  box-sizing: border-box;
  background-color: #E8A87C;
  position: fixed;
  top: 0;
  padding: 0 clamp(40px, 40px + 200 * (100vw - 767px) / 600, 240px);
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #F2E9D8;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #252540;
  font-size: 2.2rem;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  display: none;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.hamburger::before, .hamburger::after {
  content: "";
}
.hamburger::before, .hamburger::after,
.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #252540;
  border-radius: 3px;
  transition: 0.2s;
}
.hamburger::before {
  top: 4px;
  left: 6px;
  transform-origin: 0 0;
  transform: rotate(45deg) scaleX(0);
  transition-delay: 0s;
}
.hamburger::after {
  top: 4px;
  right: 6px;
  transform-origin: 100% 0;
  transform: rotate(-45deg) scaleX(0);
  transition-delay: 0.2s;
}
.hamburger span:nth-of-type(1) {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transition-delay: 0.5s;
}
.hamburger span:nth-of-type(2) {
  top: 14px;
  left: 0;
  transform-origin: 50% 50%;
  transition-delay: 0.5s;
}
.hamburger span:nth-of-type(3) {
  right: 0;
  bottom: 0;
  transform-origin: 100% 0;
  transition-delay: 0.5s;
}
.hamburger.active::before {
  transform: rotate(45deg) scaleX(1);
  transition-delay: 0.3s;
}
.hamburger.active::after {
  transform: rotate(-45deg) scaleX(1);
  transition-delay: 0.5s;
}
.hamburger.active span:nth-of-type(-n+3) {
  transform: scaleX(0);
  transition-delay: 0s;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  ul {
    display: none;
  }
}
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #252540;
  transition: 0.5s;
  z-index: 1;
  font-size: 1rem;
}
ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252540;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
ul li a:hover {
  color: #E8A87C !important;
}
ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E8A87C;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.6s linear;
}
.mobile-nav.active {
  transform: translateY(0);
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav ul li a {
  display: block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  color: #252540;
  font-size: 1.2rem;
}
.mobile-nav ul li a.current {
  background-color: #252540;
  color: #E8A87C;
}
@media (min-width: 1367px) {
  .mobile-nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1366px) {
  .mobile-nav {
    display: none;
  }
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showTop {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.intro-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .intro-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .intro-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}

.animate-title {
  flex: 1;
  color: #E8A87C;
  height: 100%;
  position: relative;
  top: 0;
  transform: translate(0%, 0%);
  width: 100%;
  font-size: 5.6rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 767px) {
  .animate-title {
    font-size: 3rem;
    letter-spacing: 0;
  }
}

.animate-title > div {
  height: 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.animate-title > div div {
  position: relative;
}

.animate-title > div div span {
  display: block;
}

.animate-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animate-title > div.text-bottom {
  bottom: 0;
}

.animate-title > div.text-bottom div {
  animation: showBottomText 1s;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.text-right {
  flex: 2;
  padding-left: 2rem;
  position: relative;
  top: 0;
  height: 100%;
  color: #E8A87C;
  font-size: 5.6rem;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: showTop 1s both;
  animation-delay: 3.25s;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .text-right {
    z-index: 2;
  }
  .text-right span:first-child {
    display: none;
  }
  .text-right {
    padding-left: 0;
    font-size: 3rem;
    flex-direction: row;
    gap: 0.4rem;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .text-right {
    z-index: 2;
  }
  .text-right span:first-child {
    display: none;
  }
  .text-right {
    padding-left: 0;
    font-size: 1.25rem;
    flex-direction: row;
    gap: 0.4rem;
  }
}

.intro-img {
  position: absolute;
  left: 14rem;
  height: 100%;
  z-index: 1;
  animation: showTop 1s both;
  animation-delay: 3.25s;
}
.intro-img img {
  height: 100%;
  width: auto;
}
@media (max-width: 767px) {
  .intro-img {
    left: 5.2rem;
  }
}

.section {
  background-color: #252540;
  color: #E8A87C;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section:nth-child(1) {
  background-image: url(../img/desktop01.svg);
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .section:nth-child(1) {
    background-image: url(../img/tablet01.svg);
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .section:nth-child(1) {
    background-image: url(../img/mobile01.svg);
    background-size: cover;
  }
}
.section:nth-child(2), .section:nth-child(3) {
  background-image: url(../img/desktop02.svg);
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .section:nth-child(2), .section:nth-child(3) {
    background-image: url(../img/tablet02.svg);
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .section:nth-child(2), .section:nth-child(3) {
    background-image: url(../img/mobile02.svg);
    background-size: cover;
  }
}
.section:nth-child(4) {
  background-color: #E8A87C;
  color: #252540;
  background-image: url(../img/desktop03.svg);
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .section:nth-child(4) {
    background-image: url(../img/tablet03.svg);
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .section:nth-child(4) {
    background-image: url(../img/mobile03.svg);
    background-size: cover;
  }
}

.container {
  width: 100%;
  margin: 0 clamp(40px, 40px + 260 * (100vw - 767px) / 600, 300px);
}

.section:nth-child(2) .container {
  position: relative;
  top: -4vh;
  padding: 0 40px;
}
.section:nth-child(3) .container {
  position: relative;
  top: -1.2vh;
}

.container p {
  font-size: 1.125rem;
  display: inline;
  line-height: 1.6;
  color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#F2E9D8, #F2E9D8);
  transition: background-size 0.6s ease-in-out, color 0.6s ease-in-out;
}
.container p:nth-of-type(2) {
  transition-delay: 0.5s;
}
.container p:nth-of-type(3) {
  transition-delay: 1s;
}

.container.animate p {
  color: #F2E9D8;
  background-size: 0% 100%;
}

.skill-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .skill-list {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.skill-list li {
  display: flex;
  align-items: center;
}

.skill-name {
  width: 100px;
  font-size: 0.875rem;
}

.bar-outer {
  width: 100%;
  max-width: 360px;
  height: 6px;
  border: 2px solid #665054;
  margin-top: 4px;
  padding: 3px;
  background-color: #252540;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .bar-outer {
    width: 75%;
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .bar-outer {
    width: 75%;
  }
}

.bar-inner {
  display: flex;
  gap: 3px;
}

.bar-inner span {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #665054;
  transition: background-color 0.3s ease;
}
.bar-inner span:nth-of-type(1) {
  transition-delay: 1.6s;
}
.bar-inner span:nth-of-type(2) {
  transition-delay: 2s;
}
.bar-inner span:nth-of-type(3) {
  transition-delay: 2.4s;
}

.container.animate .bar-inner span.fill {
  background-color: #E8A87C;
}

.swiper {
  width: 70vw;
  height: 51vh;
  margin-top: -1.4rem;
  background-color: #252540;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .swiper {
    margin-top: -6.2rem;
    width: 56vw;
    height: 33vh;
  }
}
@media (max-width: 767px) {
  .swiper {
    margin-top: 8px;
    height: 60vh;
  }
}

.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.swiper-slide:first-child a {
  background-image: url("../img/swiper-desktop01.png");
}
@media (min-width: 768px) and (max-width: 1366px) {
  .swiper-slide:first-child a {
    background-image: url("../img/swiper-tablet01.png");
  }
}
@media (max-width: 767px) {
  .swiper-slide:first-child a {
    background-image: url("../img/swiper-mobile01.png");
    background-position: center;
  }
}
.swiper-slide:nth-child(2) a {
  background-image: url("../img/swiper-desktop02.png");
}
@media (min-width: 768px) and (max-width: 1366px) {
  .swiper-slide:nth-child(2) a {
    background-image: url("../img/swiper-tablet02.png");
  }
}
@media (max-width: 767px) {
  .swiper-slide:nth-child(2) a {
    background-image: url("../img/swiper-mobile02.png");
    background-position: center;
  }
}

.swiper-pagination {
  width: 60px;
  height: 12px;
  padding-bottom: 0.5rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 3px solid #252540;
  box-shadow: 0 0 0 2px #E8A87C;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #E8A87C;
  width: 40px;
  transition: width 1s;
  border-radius: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  background-image: url("../img/swiper-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    margin: 0 -0.75rem;
    width: 40px;
    height: 40px;
  }
}

.swiper-button-prev {
  transform: scaleX(-1);
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.contact-wrap .contact-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 5.6rem;
  color: #252540;
  margin-bottom: 3rem;
}
.contact-wrap .contact-title span {
  color: transparent;
  background-origin: content-box;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#252540, #252540);
  transition: background-size 0.6s ease-in-out, color 0.6s ease-in-out;
}
.contact-wrap .contact-title span:nth-child(2) {
  transition-delay: 0.5s;
}
.contact-wrap .contact-title span:nth-child(3) {
  transition-delay: 1s;
}
@media (max-width: 767px) {
  .contact-wrap .contact-title {
    font-size: 2.5rem;
  }
}
.contact-wrap .contact-title span:last-child {
  font-size: 3rem;
  padding-top: 0.6rem;
}
@media (max-width: 767px) {
  .contact-wrap .contact-title span:last-child {
    padding-top: 0.5rem;
    font-size: 1.3rem;
  }
}
.contact-wrap .contact-info {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 1.4rem;
  color: #252540;
  margin-top: -1.2rem;
}
.contact-wrap .contact-info a {
  color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#252540, #252540);
  transition: background-size 0.6s ease-in-out, color 0.6s ease-in-out;
  transition-delay: 1.5s;
}
.contact-wrap .contact-info a:nth-child(2) {
  transition-delay: 2s;
}
@media (max-width: 767px) {
  .contact-wrap .contact-info {
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1rem;
    margin-top: -1.5rem;
  }
}

.container.animate .contact-title span {
  color: #252540;
  background-size: 0% 100%;
}
.container.animate .contact-info a {
  color: #252540;
  background-size: 0% 100%;
}/*# sourceMappingURL=main.css.map */