@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
html, body {
  overflow: hidden;
}

#wrap {
  display: flex;
  flex-direction: row;
  width: 400vw;
  height: 100vh;
  transition: transform 1.2s linear;
}

.section {
  background-color: #252540;
  color: #E8A87C;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section:nth-child(4) {
  background-color: #E8A87C;
  color: #252540;
}

.container {
  width: 100%;
  padding: 0 clamp(20px, 12.5vw, 240px);
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.galmuri9 {
  font-family: Galmuri9, sans-serif;
  font-style: normal;
}

.panel {
  position: fixed;
  top: 0;
  width: 125%;
  height: 100%;
  background: #E8A87C;
  transform: translateX(100%);
  z-index: 2;
  pointer-events: none;
  clip-path: polygon(20px 0, 20px 20px, 0 20px, 0 40px, 20px 40px, 20px 60px, 0 60px, 0 80px, 20px 80px, 20px 100px, 0 100px, 0 120px, 20px 120px, 20px 140px, 0 140px, 0 160px, 20px 160px, 20px 180px, 0 180px, 0 200px, 20px 200px, 20px 220px, 0 220px, 0 240px, 20px 240px, 20px 260px, 0 260px, 0 280px, 20px 280px, 20px 300px, 0 300px, 0 320px, 20px 320px, 20px 340px, 0 340px, 0 360px, 20px 360px, 20px 380px, 0 380px, 0 400px, 20px 400px, 20px 420px, 0 420px, 0 440px, 20px 440px, 20px 460px, 0 460px, 0 480px, 20px 480px, 20px 500px, 0 500px, 0 520px, 20px 520px, 20px 540px, 0 540px, 0 560px, 20px 560px, 20px 580px, 0 580px, 0 600px, 20px 600px, 20px 620px, 0 620px, 0 640px, 20px 640px, 20px 660px, 0 660px, 0 680px, 20px 680px, 20px 700px, 0 700px, 0 720px, 20px 720px, 20px 740px, 0 740px, 0 760px, 20px 760px, 20px 780px, 0 780px, 0 800px, 20px 800px, 20px 820px, 0 820px, 0 840px, 20px 840px, 20px 860px, 0 860px, 0 880px, 20px 880px, 20px 900px, 0 900px, 0 920px, 20px 920px, 20px 940px, 0 940px, 0 960px, 20px 960px, 20px 980px, 0 980px, 0 1000px, 20px 1000px, 20px 1020px, 0 1020px, 0 1040px, 20px 1040px, 20px 1060px, 0 1060px, 0 1080px, 100% 1080px, 100% 1060px, calc(100% - 20px) 1060px, calc(100% - 20px) 1040px, 100% 1040px, 100% 1020px, calc(100% - 20px) 1020px, calc(100% - 20px) 1000px, 100% 1000px, 100% 980px, calc(100% - 20px) 980px, calc(100% - 20px) 960px, 100% 960px, 100% 940px, calc(100% - 20px) 940px, calc(100% - 20px) 920px, 100% 920px, 100% 900px, calc(100% - 20px) 900px, calc(100% - 20px) 880px, 100% 880px, 100% 860px, calc(100% - 20px) 860px, calc(100% - 20px) 840px, 100% 840px, 100% 820px, calc(100% - 20px) 820px, calc(100% - 20px) 800px, 100% 800px, 100% 780px, calc(100% - 20px) 780px, calc(100% - 20px) 760px, 100% 760px, 100% 740px, calc(100% - 20px) 740px, calc(100% - 20px) 720px, 100% 720px, 100% 700px, calc(100% - 20px) 700px, calc(100% - 20px) 680px, 100% 680px, 100% 660px, calc(100% - 20px) 660px, calc(100% - 20px) 640px, 100% 640px, 100% 620px, calc(100% - 20px) 620px, calc(100% - 20px) 600px, 100% 600px, 100% 580px, calc(100% - 20px) 580px, calc(100% - 20px) 560px, 100% 560px, 100% 540px, calc(100% - 20px) 540px, calc(100% - 20px) 520px, 100% 520px, 100% 500px, calc(100% - 20px) 500px, calc(100% - 20px) 480px, 100% 480px, 100% 460px, calc(100% - 20px) 460px, calc(100% - 20px) 440px, 100% 440px, 100% 420px, calc(100% - 20px) 420px, calc(100% - 20px) 400px, 100% 400px, 100% 380px, calc(100% - 20px) 380px, calc(100% - 20px) 360px, 100% 360px, 100% 340px, calc(100% - 20px) 340px, calc(100% - 20px) 320px, 100% 320px, 100% 300px, calc(100% - 20px) 300px, calc(100% - 20px) 280px, 100% 280px, 100% 260px, calc(100% - 20px) 260px, calc(100% - 20px) 240px, 100% 240px, 100% 220px, calc(100% - 20px) 220px, calc(100% - 20px) 200px, 100% 200px, 100% 180px, calc(100% - 20px) 180px, calc(100% - 20px) 160px, 100% 160px, 100% 140px, calc(100% - 20px) 140px, calc(100% - 20px) 120px, 100% 120px, 100% 100px, calc(100% - 20px) 100px, calc(100% - 20px) 80px, 100% 80px, 100% 60px, calc(100% - 20px) 60px, calc(100% - 20px) 40px, 100% 40px, 100% 20px, calc(100% - 20px) 20px, calc(100% - 20px) 0, 100% 0);
}
@media (max-width: 767px) {
  .panel {
    width: 150%;
  }
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #E8A87C;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate(0%, 0%);
  width: 100%;
  font-size: 6rem;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 1s;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

header > div {
  box-sizing: border-box;
  background-color: #E8A87C;
  position: fixed;
  top: 0;
  padding: 0 clamp(20px, 12.5vw, 240px);
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #252540;
  font-size: 2.2rem;
}

.hamburger {
  display: none;
}
@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.hamburger::before, .hamburger::after {
  content: "";
}
.hamburger::before, .hamburger::after,
.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #252540;
  border-radius: 3px;
  transition: 0.2s;
}
.hamburger::before {
  top: 4px;
  left: 6px;
  transform-origin: 0 0;
  transform: rotate(45deg) scaleX(0);
  transition-delay: 0s;
}
.hamburger::after {
  top: 4px;
  right: 6px;
  transform-origin: 100% 0;
  transform: rotate(-45deg) scaleX(0);
  transition-delay: 0.2s;
}
.hamburger span:nth-of-type(1) {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transition-delay: 0.5s;
}
.hamburger span:nth-of-type(2) {
  top: 14px;
  left: 0;
  transform-origin: 50% 50%;
  transition-delay: 0.5s;
}
.hamburger span:nth-of-type(3) {
  right: 0;
  bottom: 0;
  transform-origin: 100% 0;
  transition-delay: 0.5s;
}
.hamburger.active::before {
  transform: rotate(45deg) scaleX(1);
  transition-delay: 0.3s;
}
.hamburger.active::after {
  transform: rotate(-45deg) scaleX(1);
  transition-delay: 0.5s;
}
.hamburger.active span:nth-of-type(-n+3) {
  transform: scaleX(0);
  transition-delay: 0s;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  ul {
    display: none;
  }
}
ul li {
  list-style: none;
}
ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #252540;
  transition: 0.5s;
  z-index: 1;
  font-size: 1rem;
}
ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252540;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
ul li a:hover {
  color: #E8A87C !important;
}
ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E8A87C;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.6s linear;
}
.mobile-nav.active {
  transform: translateY(0);
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.mobile-nav ul li {
  list-style: none;
}
.mobile-nav ul li a {
  display: block;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  color: #252540;
  font-size: 1.2rem;
}
.mobile-nav ul li a.current {
  background-color: #252540;
  color: #E8A87C;
}
@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .mobile-nav {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */